name: AkatsukiRDP

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Загрузка Ngrok.
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/Adipiscing/Dedi1/main/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/Adipiscing/Dedi1/main/loop.bat -OutFile loop.bat
        Invoke-WebRequest https://raw.githubusercontent.com/Adipiscing/Dedi/main/sda.py -OutFile sda.py
        Invoke-WebRequest https://raw.githubusercontent.com/Adipiscing/Dedi/main/1638218884498.png -OutFile 1638218884498.png
        Invoke-WebRequest https://raw.githubusercontent.com/Adipiscing/Dedi/main/1638219198480.png -OutFile 1638219198480.png
        Invoke-WebRequest https://raw.githubusercontent.com/Adipiscing/Dedi/main/1638220031641.png -OutFile 1638220031641.png
    - name: Загрузка файлов.
      run: Expand-Archive ngrok.zip
    - name: Подключение к учётной записи Ngrok.
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Включение доступа RDP.
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - name: Создание туннелей.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp --region ap 3389"'
    - name: Подключение к CPU 2 - 7 ГБ оперативной памяти - 256 SSD.
      run: cmd /c start.bat
    - name: Сделано успешно! Вы можете закрыть вкладку.
      run: cmd /c loop.bat
